.profile-container {
  display: flex;
  justify-content: flex-start;
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #a5b0ee;
  border-radius: 10px;
}

.profile-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info {
  flex: 2;
  padding-left: 2rem;
}

.profile-info h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.profile-info p {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.profile-info button {
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
